#container{
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    height: 98%;
    min-width:98%;
    flex-flow: wrap;
    padding: 2rem ;
    /* justify-content: space-between; */
}

.projo {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .projo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .projo h3 {
    margin-top: 0;
  }
  
  .projo input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .project-tab{
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-tab h3{
    margin: 0;
    text-align: left;
    text-overflow: unset;
  }
  .project-tab p{
    text-align: justify;
    font-size: small;
  }
  .message{
        gap:0;
        margin: 0;
        color:#035108;
       width:auto;
       height:auto;
       font-size: 10px;
       background-color: rgb(145, 175, 231);
       border-radius:.8em;
       position: absolute;
       place-self: flex-start;
       z-index: 998;
       text-align: left;
       opacity: 60%;
  }
  .message p{
    margin: 0;
    height: unset;
  }