#user{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
#user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#user:hover{
 background-color: blue;
color: aliceblue;
}
.active{
background-color: blue;
color: aliceblue;
}


.heading{
    display: flex;
    
   flex-direction: column;
    
    margin-right: 20px;
}
.heading img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.title{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}
.status{
    display: flex;
    flex-direction: column;
}
.dropdown-toggle {
 
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 200px;
    gap: .5em;
    position:relative;
    z-index: 999;
    
  }
 .menu{
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: white;
    z-index: 999;
    position: relative;
    border: 2px solid black;
    border-radius: .8em;
    overflow-y: scroll;
 }
 .dropdown-toggle button{
    width: 200px;
 }
  